
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@model ArtSpot.Models.tbl_user



<div class="container">
    <br />
    <h2 class="text-center">Login</h2>
    <br />

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 justify-content-sm-center rounded-2 border-1 opacity-25" style="border:solid 1px gray; background:gray;">

            <center>
                <form action="/home/User_Login" method="post">
                    <br />


                    <input type="email" class="form-control justify-content-sm-center" placeholder="Email" name="u_email" />

                    <br />

                    <input type="password" class="form-control" placeholder="Password" name="u_password" />

                    <br />

                    <input type="submit" value="Login" class="form-control" style="background:black; color:white" />

                    <br />



                </form>
            </center>

        </div>
        <div class="col-sm-4"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4 text-center">
            Don't' have an account,<a class="btn-dark bg-opacity-10 p-2 rounded-2" style="text-decoration:none" href="/User/create">Register</a>

        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
            Go for Admin<a class="btn-dark bg-opacity-10 p-2 rounded-2" style="text-decoration:none" href="/Admin/Login">Login</a>

        </div>
    </div>
</div>